
h1,h2,h3,p,ul{
    margin: 0;
}
a {
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #73738A;
}
.container{
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 1.25rem;
    width: 755px;
    margin: 36px auto 90px;
}
.logo-instagram{
    background-position: 0px -52px;
    width: 234px;
    height: 81px;
    margin: 18px 0 30px 0;
    display: inline-block;
}
.img-celular{
    width: 250;
    height: 538.84px;
    position: relative;
    background: url('../imagens/nome-instagram.png') no-repeat center;
}
.formulario{
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
}
.formulario form{
    text-align: center;
    background-color: #fff;
    padding: 1.25rem 2.5rem;
    border: 1px solid rgb(219,219,219);
    margin-bottom: 10px;
    text-overflow: ellipsis;
}
.formulario input{
    width: 100%;
    color: black;
    font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    padding: 9px 0 7px 8px;
    border: 1px solid #dbdbdb;
    margin-bottom: 4px;
    border-radius: 3px;
    outline: none;
    text-overflow: ellipsis;

}
.formulario button {
    color: #fff;
    font-weight: bold;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 8px;
    margin-right: 40px;
    background: #0095F6;
    border: none;
    padding: 8px;
    border-radius: 8px;
    
    cursor: pointer;
}
.formulario button:hover{
    background: #1877F2;
    cursor: default;
}
.ou{
    margin-right: 18px;
    margin-top: 11px;
    font-size: 13px;
    color: #73738A;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    box-sizing: border-box;
    vertical-align: baseline;
}

.ou::after{content: "";
    width: 105px;
    height: 1px;
    background: #dbdbdb;}

.ou::before{
    content: "";
    width: 105px;
    height: 1px;
    background: #dbdbdb;
}
.facebook{
    color: #385185;
    font-weight: 600;
    font-size: 14px;
    padding: 16px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 5px;
    text-transform: inherit;
    
}
.facebook > img{
    border: 0;
    display: inline-block;
    font: inherit;
    font-size: 100%;
    margin: 0;
    margin-right: 8px;
    padding: 0;
    position: relative;
    top: 0.3px;
    vertical-align: baseline;
    background-repeat: no-repeat;
    background-position: -414px -259px;
    height: 16px;
    width: 16px;
}
.esqueceu{
    font-size: 12px;
    color: rgb(0,55,107);
    line-height: var(--system-12-line-height);
    margin-top: 1px;
    text-align: center;
    text-decoration: none;
    display: inline;
    -webkit-tap-highlight-color: transparent;
}
.cadastro{
    font-size: 16px;
    font-weight: 400;
    color: black;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    padding: 20px 0;
    margin: 0 0 20px;
}
.cadastro a{
    color: #0095F6;
    font-weight: 600;
    text-decoration: none;
}
.apps{
    margin-top: 20px;
    color: black;
   
}

.apps p{
    font-size: 16px;
    font-weight: 400;
}

.apps img{
    margin-top: 30px;
    height: 45px;
    width: 135px;
    
    
}
img.microsoft{
    margin-top: 10px;
    height: 39px;
    width: 135px;
    border-radius: 2px;
    
}
.footer{
    text-align: center;
    width: 970px;
    margin: 0 auto;
    font-size: 12px;
    color: #8e8e8e;
}

.footer a{
    color: #8e8e8e;
    display: inline-block;
    margin: 0 0.375rem 0.625rem;
}
.assinatura{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;

}
.assinatura a{
    color: rgba(228, 102, 102, 0.822);
    text-decoration: underline;
}
